<main>
    <div id="timer">
        <p>Time:</p>
        <div id="time">0</div>
    </div>
    <div id="score">
        <p>Score:</p>
        <div id="points">0</div>
    </div>
    <div id="endGame">
        <H2>Time's up!</H2>
        <p>Your score is: </p>
        <div id="endGameScore">0</div>
        <H1>CONGRATULATIONS!!!</H1>
        <button id="saveScore" type="button" (click)="saveScore()">Save the score</button>
        <button type="button" (click)="tryAgain()">Try Again</button>
    </div>
    <img id='missile' src='assets/img/missile.png' STYLE="left:300px;bottom:25px;height:70px;width:10px" />
    <img id='plane' src='assets/img/plane.png' STYLE="left:270px;bottom:20px;height:70px;width:70px" />
    <img class='ufo' id='ufo0' src="assets/img/ufo.png" STYLE="left:8px;bottom:730px;width:60px;height:60px;" />
    <img class='ufo' id='ufo1' src="assets/img/ufo.png" STYLE="left:8px;bottom:660px;width:60px;height:60px;" />
    <img class='ufo' id='ufo2' src="assets/img/ufo.png" STYLE="left:8px;bottom:590px;width:60px;height:60px;" />
    <img class='ufo' id='ufo3' src="assets/img/ufo.png" STYLE="left:8px;bottom:520px;width:60px;height:60px;" />
    <img class='ufo' id='ufo4' src="assets/img/ufo.png" STYLE="left:8px;bottom:450px;width:60px;height:60px;" />
</main>